body {
  font-family: "Meiryo", "Arial",sans-serif;
}
.google-fonts {
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 2em;
   letter-spacing: 1.2rem;
}
html {
   font-size: 20px;
   text-align: center;
}

.text-red {
  color: rgb(255,192,203);
}
.text-blue {
  color: SkyBlue;
}

h1 {
  text-shadow: 3px 1px 2px gray;
  border-bottom: solid 3px rgb(115,115,114);
}

div p {
  font-weight: bold;
}
