h1,
p,
body {
  margin: 0px;
}
p {
  font-size: 20px;
}
a {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

header {
  margin-bottom: 20px;
  text-align:center;
  background-color: rgb(244, 79, 79);
}
h1 {
  color: rgb(255, 255, 255);
}

main {
  margin: 10px 10px;
}
#parent {
  display: flex;
  justify-content: space-between;
}
.contents {
  border: 3px solid rgb(238,204,204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0px;
  text-align: center;
}

h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236,122,122)
}
h2::before {
  content: "●";
  color: rgb(239,111,139);
}
p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97,206,249);
}
img {
  margin: 10px 0px;
  width: 70%;
}
 a:visited {
  color: rgb(193,234,251);
 }
 a:hover {
   color: antiquewhitergb(245,178,168);
 }

footer {
  background-color: rgb(244,79,79);
  text-align: center;
}





@media screen and (max-width:768px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  #parent {
    display: flex;
  }
}

@media screen and (max-width:767px) {
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
  #parent {
    flex-direction: column;
    padding: 10px;
  }
}
  
